[2019-04-25 14:34] fernandogelin opened #7 "add risk levels"
Find a place and add risk levels to site: https://it.brown.edu/computing-policies/risk-classifications

[2019-04-25 14:35] fernandogelin opened #8 "calendar alerts"
- create process to retrieve alerts from CCV calendar.
- create template to display alerts

[2019-04-25 14:36] fernandogelin opened #9 "add list of publications"
- add filterable list of publications
- get DOI from all publications, or create a database.

[2019-04-25 14:38] fernandogelin opened #10 "remove discourse mentions"
remove all discourse mentions and links

[2019-04-25 14:39] fernandogelin opened #11 "add ask.ci"
re-add discourse mentions with links to ask.ci

[2019-04-25 14:40] fernandogelin opened #12 "add info about ARC subgroups"
add information about all 4 ARC subgroups. Waiting on leads for content.

[2019-04-25 14:41] fernandogelin opened #13 "add projects to showcase"
add projects to showcase: RefChef, some of Ben's projects. Remove pubmedminer.

[2019-04-25 15:22] mcmcgrath13 opened #14 "create avatar for CJ"
CJ needs a fun bot avatar

[2019-04-25 15:24] fernandogelin commented on #12
@mirestrepo @ashokrags @azsom @hkershaw-brown

[2019-04-25 15:27] mcmcgrath13 opened #15 "'oscar account' button go to account form"
@hkershaw-brown

[2019-04-25 15:48] rajexplo opened #16 "Typo"
Observed a small Typo in https://docs.ccv.brown.edu/oscar/managing-files/io-best-practices

Best Practives -> Best Practices

[2019-04-25 16:18] fernandogelin commented on #16
@rajexplo I gave you write permissions for the Oscar docs on Gitbook. So, feel free to change anything and fix types and other issues!

Thanks!

[2019-04-25 20:37] fernandogelin commented on #12
from @azsom Institutional Data Group: We collaborate and support academic administrators to make better data-driven decisions, and we also collaborate with faculty members on data-intensive projects. We perform exploratory data analysis to better understand datasets, prepare visualizations and dashboards, perform classical statistical analyses, and develop machine learning models.

[2019-04-25 21:26] azsom opened #17 "rates on data science consulting"
numbers tbd, but I'll add them soon.

[2019-04-26 14:18] fernandogelin commented on #17
@paulstey I remember this was discussed in one of our meetings. I can't remember why we decided not to add those rates. Should they be included?

[2019-04-26 14:21] fernandogelin opened #18 "shib / OIDC authentication for Oscar form"

[2019-04-26 14:45] fernandogelin opened #19 "remove pubmedminer from showcased projects"

[2019-04-29 13:53] fernandogelin commented on #19
removed

[2019-04-29 13:53] #19 closed

[2019-04-29 13:53] fernandogelin commented on #13
added a few

[2019-04-29 13:53] #13 closed

[2019-04-29 13:53] fernandogelin commented on #10
removed

[2019-04-29 13:53] #10 closed

[2019-04-29 15:48] azsom commented on #17
Yes. :) @paulstey , what do you think about the text below?

There are three opportunities how Brown affiliates can work with us.

1) We are happy to perform short well-defined exploratory analyses to support grant preparation. The expectation is that one or more data scientists from the team would become part of the research project if the grant is successful and resources are allocated to suppor

[2019-04-29 20:18] fernandogelin opened #20 "Change stronghold name"
Change Stronghold to be:  Data Risk Level 3 Computing (Stronghold)
Change High Performance Computing (HPC) to be: High Performance Computing (Oscar)
Add a new box under storage as: Data Risk Level 3 Storage (Stronghold)

[2019-04-30 13:16] fernandogelin commented on #20
complete

[2019-04-30 13:16] #20 closed

[2019-04-30 13:47] fernandogelin commented on #12
done

[2019-04-30 13:47] #12 closed

[2019-04-30 14:15] fernandogelin commented on #20
names were changes, new box is pending.

[2019-04-30 14:27] fernandogelin commented on #17
@azsom @paulstey I think topic 1 is already in the ARC page. Point 2 should go with the other rates, if we decide to have them on the website. Point 3 isn't general to all groups, and should be considered carefully. The work with companies should be expanded upon, and should maybe go in the ARC page.

[2019-04-30 14:28] fernandogelin commented on #17
We should maybe also point out that we don't only work with Brown, but also other universities in the area.

[2019-04-30 14:35] azsom commented on #17
Oh, we do? :)

[2019-05-01 19:21] azsom commented on #17
We could also say that there are a couple of opportunities at Brown to secure a small grant to start collaborating with us. So it's OK if someone doesn't have funds readily available.

[2019-05-02 20:54] mcmcgrath13 opened #21 "add workshops/tutorials section"
It would be nice to have a page that highlighted the various workshops, tutorials, talks we've all given with links out to materials (as appropriate).

[2019-05-03 20:45] fernandogelin opened #22 "add Oscar and Stronghold maintenance schedule"
needs to update the bot to get events from the two new calendars. Also need to update google scripts to send emails to Oscar/stronghold lists.

[2019-05-06 15:26] mcmcgrath13 opened #23 "Services page - BCBI"
Services page indicates ongoing collaboration with BCBI and some links out to them, perhaps we should edit those out

[2019-05-06 15:27] aguang opened #24 "events from CCV-Bot do not show up on the page"
The only events from CCV Bot that appear to show up on the page are CCV Office Hours, even though CBC Office Hours and DSCoV Lunches have also been accepted by CCV Bot on Google Calendar.

[2019-05-06 17:47] fernandogelin commented on #15
complete

[2019-05-06 17:47] #15 closed

[2019-05-06 17:47] fernandogelin commented on #24
fixed

[2019-05-06 17:47] #24 closed

[2019-05-06 17:47] fernandogelin commented on #23
removed

[2019-05-06 17:47] #23 closed

[2019-05-15 13:58] fernandogelin opened #25 "add search to nav bar"

[2019-05-15 14:00] fernandogelin opened #26 "add details and documentation links"
remove `more` add `details` and `documentation` links to services blocks

[2019-05-15 14:00] fernandogelin opened #27 "re-add discourse"
re-add discourse to the footer, floating box, and what's new

[2019-05-15 14:07] fernandogelin opened #28 "add discourse link in documentation page"
https://ask.cyberinfrastructure.org/c/brown-research-computing

[2019-05-15 14:09] fernandogelin commented on #28
add both links, brown and global ask.ci

[2019-05-15 14:10] fernandogelin commented on #27
land on brown's ask ci

[2019-05-15 14:10] fernandogelin opened #29 "add ask.ci to services"
add a block in services with ask.ci

[2019-05-29 19:03] fernandogelin commented on #27
completed

[2019-05-29 19:12] #29 closed

[2019-05-29 19:12] #27 closed

[2019-05-29 19:23] #28 closed

[2019-05-31 12:13] hkershaw-brown opened #30 "180 George Street Address"
Two addresses:
Address of building
PO Box address for correspondence  ( I think this is PO Box 1841)

[2019-06-03 19:06] hkershaw-brown opened #31 "rates page is incorrect"
https://ccv.brown.edu//services/rates/

shows a 'jobs' column - seems like this is meant to be accounts

[2019-06-03 19:24] hkershaw-brown commented on #31
Paul Hall has edited this (can close issue when it is pushed to the website)

[2019-06-06 15:11] hkershaw-brown commented on #31
Comment from new faculty that this rates page is confusing.

Group premium unclear
Storage costs are not in the table (only home directory is in the table)
'per account' is confusion, e.g. group premium is the account so the table is unclear that the limits are per user

'total running job wallclock of 998,400 core-minutes' does not make sense.  Wallclock is not measured in core-minutes

[2019-06-13 13:25] paulstey commented on #31
I've fixed the "wallclock of 998,400 core-minutes" issue.

I'm also inclined to agree that "per account" is a bit confusing in the context of group premium. @hkershaw-brown : do you have a recommended change?

[2019-06-13 17:44] paulstey commented on #31
I've changed the table headings to make things a bit more clear. We can re-open this issue if necessary.

[2019-06-13 17:44] #31 closed

[2019-06-18 14:33] fernandogelin commented on #25
complete

[2019-06-18 14:33] #25 closed

[2019-06-18 14:49] fernandogelin commented on #26
complete

[2019-06-18 14:49] #26 closed

[2019-06-18 15:58] fernandogelin commented on #9
@mauradriscoll is working on this!

[2019-06-18 16:18] fernandogelin commented on #7
completed

[2019-06-18 16:18] #7 closed

[2019-06-27 17:02] mirestrepo opened #38 "Discourse re-direct"
add a redirect for the discourse - ccv.brown.edu/discuss

[2019-07-17 02:20] mirestrepo opened #39 "JupyterHub Service request link"
Add a link to the form that needs to be filled to request the service. Also we should make the form create a ticket....?

[2019-09-03 12:28] hkershaw-brown opened #53 "How to cite CCV is missing"
Here is the text from the old website:

**Acknowledgment**
If you publish research that benefited from the use of CCV services or resources, we would greatly appreciate an acknowledgment that states:

This research [Part of this research] was conducted using [computational/visualization]
resources and services at the Center for Computation and Visualization, Brown University.

**Facilities Stateme

[2019-09-03 12:31] hkershaw-brown opened #54 "add google custom search"
The search on the main website does not return results from the documentation (gitbook) pages

[2019-09-03 12:37] fernandogelin commented on #54
@hkershaw-brown the ccv site is static and the search uses the the index created from the content files. The documentation is a separate service. Something to keep in mind is to set up an elastic search to include GitBook and Medium. However this is probably time consuming and not a priority at the moment.

[2019-09-03 12:37] #18 closed

[2019-09-20 17:35] mirestrepo opened #57 "Create a page for interns"

[2019-09-20 17:35] mcmcgrath13 commented on #9
A first draft is complete and at ccv.brown.edu/pubs

Still to do:
[ ] way to add pubs (API post route, front end would be nice)
[ ] make viz more interactive
[ ] loading time is kind of slow - speed this up

[2019-09-20 17:36] mirestrepo commented on #39
Done

[2019-09-20 17:36] #39 closed

[2019-09-20 17:37] mcmcgrath13 opened #58 "create an apps page"
page that links out to ccv apps, packages, etc (similar to compbiocore.github.io)

[2019-09-20 19:47] fernandogelin opened #60 "update og/twitter tags"

[2019-09-24 17:42] fernandogelin commented on #60
- Update open graph and twitter images to use new isometric logo
- Maybe a different tag per page (title, description, but same image?)

[2019-09-24 19:11] phall-brown opened #61 "Calendar issues"
CCV Office hours (Fridays, 10-12) are no longer showing up in the Upcoming Events section of the website (they had been showing up in the spring/early summer).

[2019-09-24 20:26] fernandogelin commented on #61
fixed

[2019-09-24 20:26] #61 closed

[2019-09-26 15:07] fernandogelin commented on #57
[code]

[2019-09-26 15:43] theklam commented on #57
- name: Kalvin Lam
  team: YURT
  subteam: N/A
  title: Virtual Reality Intern
  github_username: theklam
  brown_directory_uuid:
  image: I have sent my photo to rashi!

[2019-09-26 15:52] fernandogelin commented on #57
@theklam team is always "Advanced Research Computing", subteam is "Data & Visualization", you can find your brown_directory_uuid in the brown directory website.

[2019-09-26 19:54] theklam commented on #57
@fernandogelin thanks! made the appropriate edits

[2019-09-27 00:20] TiffL commented on #57
name: Tiffany Lei
team: Advanced Research Computing
subteam: Data & Visualization
title: Web Development Intern
github_username: TiffL
brown_directory_uuid: 2fe3c48e-df22-4a97-a910-6d784e3fba73
image: Sent to Rashi :)

[2019-10-01 14:25] mauradriscoll commented on #57
name: Maura Driscoll
team: Advanced Research Computing
subteam: Data and Visualization
title: Web Development Intern
github_username: mauradriscoll
brown_directory_uuid: mdrisco5
image: will send to Rashi!

[2019-10-01 16:27] phall-brown opened #67 "Calendar page"
I have gotten feedback from Oscar users that using the "Upcoming Events" feature on the home page to find out about upcoming events can be not obvious and/or cumbersome. Would it be possible to set up a simple calendar page where events can be viewed one month at a time? For example, something like [this](https://events.brown.edu/biomed/view/all).

[2019-10-01 18:29] fernandogelin commented on #38
done

[2019-10-01 18:29] #38 closed

[2019-10-02 18:12] mcmcgrath13 commented on #57
@Rashi1997 could you alphabetize the interns to match the staff?

The general order is
* team (alphabetical)
  * then the lead of that team (not relevant for interns)
    * then alphabetical by first name

speaking of, raj and paul hall need to be switched... they're in the wrong order - could you fix that as well?

[2019-10-03 00:41] paulstey commented on #53
It seems like this is fixed now, right @fernandogelin?

[2019-10-04 18:10] fernandogelin commented on #58
- remove `data/_citations.yaml`
- remove `data/_publications.yaml`
- replace `index.js` script with the script that gets GitHub information for the apps page

[2019-10-07 15:20] phall-brown opened #74 "missing link to Oscar documentation"
The link to documentation within the Oscar box on https://ccv.brown.edu/services/ seems to have disappeared.

[2019-10-07 17:04] fernandogelin opened #75 "update readme to inlcude instructions on how to get apps data"
- remove instructions about citations/publications
- add instructions on how to fetch apps data with GitHub API (include instructions about `.env`, github access token, etc

[2019-10-15 14:40] phall-brown commented on #67
CCV now has a working calendar at [events.brown.edu](https://events.brown.edu/ccv). Could we add a link to this calendar to the main menu on the CCV website (i.e., along with About, Services, Documentation, New)? I suggest linking to either the month view of upcoming events, which gives a  regular calendar layout for the current month ([https://events.brown.edu/ccv/view/month](https://events.brown

[2019-10-15 14:45] fernandogelin commented on #67
@Rashi1997 Can you take a look at this?
Also, maybe think of a better way to display the upcoming events in the home page? Currently it creates daily cards but it doesn't have a calendar view.

[2019-10-15 14:49] phall-brown commented on #67
Might be possible to somehow just use/appropriate the calendar view from events ([https://events.brown.edu/ccv/view/month](https://events.brown.edu/ccv/view/month))?

[2019-10-15 17:53] mirestrepo opened #76 "Add a form for feedback on 404"
If someone reaches 404 from a link, it would be useful to have a way for the user to report the broken link.

[2019-10-17 17:43] #57 closed

[2019-10-17 20:12] #53 closed

[2019-10-20 19:44] paulstey commented on #54
@fernandogelin: Do you think we could put someone from our CCV Intern Team on this? I like your idea about setting up elastic search for GitBook and Medium—that would be awesome!

[2019-10-20 19:46] paulstey commented on #74
Has this been fixed? I see the link now.

<img width="629" alt="Screen Shot 2019-10-20 at 3 45 50 PM" src="https://user-images.githubusercontent.com/6303310/67165242-c9cb7c00-f350-11e9-902b-f6b18bdae791.png">

[2019-10-20 19:58] paulstey opened #78 "Link to CCV GitHub"
Could we add a link to our CCV GitHub? I think we probably want to feature it prominently somewhere, since it's our collective work product.

We should probably also include a link to the CBC GitHub, too. And are there others?

I'm not sure where we want these to go, but I just wanted to raise this for discussion.

[2019-10-21 15:47] #74 closed

[2019-10-21 15:47] #58 closed

[2019-10-21 15:48] #8 closed

[2019-10-21 15:48] #22 closed

[2019-10-21 16:24] fernandogelin opened #79 "script to get `ready.yml` only scans 100 repos"
@TiffL I think I figured out why the script wasn't working for `brown-ccv`. The GitHub API only allows a max of 100 in the `per_page` parameter.
Can you look into pagination and update the script to take that into account?
Here's some useful information: https://developer.github.com/v3/guides/traversing-with-pagination/#

[2019-10-24 16:03] fernandogelin commented on #78
hello @TiffL can you add the github links to the footer? there's a fontawesome icon for github.

[2019-10-24 20:49] fernandogelin commented on #78
thanks @TiffL

[2019-10-24 20:49] #78 closed

[2019-10-25 14:16] #75 closed

[2019-11-01 13:43] fernandogelin commented on #79
@TiffL have you had a chance to look into this?

[2019-11-01 18:02] TiffL commented on #79
@fernandogelin Yes, currently working on it.

[2019-11-01 18:31] fernandogelin commented on #79
@TiffL 👩‍💻

[2019-11-06 15:02] fernandogelin opened #95 "Add new position"
Could you add this new position to the website:

 https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/180-George-Street/Research-Software-Engineer--Senior-Research-Software-Engineer_REQ163483

it goes under `data/opportunities.yaml`

[2019-11-06 15:03] fernandogelin commented on #95
sub-team is: Data & Visualization

[2019-11-06 18:57] #95 closed

[2019-11-07 14:20] paulstey commented on #76
Can we add a mailto link on the 404 page that spawns a ticket to support?

[2019-11-07 14:22] fernandogelin commented on #79
completed. need to merge.

[2019-11-07 14:31] fernandogelin opened #97 "fix font-awesome icons in comparison table"
FontAwesome is not working in this table:
https://ccv.brown.edu/services/infrastructure/storage/

[2019-11-09 18:47] #97 closed

[2019-11-09 18:47] #76 closed

[2019-11-13 18:33] mcmcgrath13 opened #102 "Camilo's title looks funny"
![image](https://user-images.githubusercontent.com/24885580/68792817-22252f00-061a-11ea-9661-010d580f9a32.png)

@TiffL or @Rashi1997 could you one of you look into this?

[2019-11-13 20:56] paulstey opened #107 "Add Nate to People section"
Can we get a picture of Nate (and a funny picture) to put on the `People` section of the `About` page?

[2019-11-13 20:58] fernandogelin commented on #107
@paulstey Could you or someone with a good phone take a picture of him? Then just assign to @Rashi1997 or @TiffL and send the photos to them via slack.

[2019-11-14 14:44] fernandogelin opened #108 "add new data scientist position"
here's the link: https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/3-Davol-Square/Data-Scientist-Senior-Data-Scientist_REQ163492

team: Institutional Data

[2019-11-15 14:38] mcmcgrath13 commented on #102
#70

[2019-11-15 14:38] #102 closed

[2019-11-18 18:54] mcmcgrath13 commented on #108
#109

[2019-11-21 18:36] phall-brown opened #114 "Upcoming Events consistently out of date"
The "Upcoming Events" on the home page regularly features events that are several weeks old. Is it possible to get the feature to flush out old events automatically on a regular basis? If not, maybe we should just nix this section entirely (or replace it with the calendar view from the events.brown.edu/ccv).

[2019-11-21 18:44] #108 closed

[2019-11-21 18:45] #79 closed

[2019-11-21 20:41] paulstey opened #115 "404 Page broken"
Hi Everyone,

Has anyone else noticed that the puppy gif on our 404 page is not there anymore? It seems like the gif owner made it private.

Can we get a new puppy?!?

[2019-11-21 21:24] fernandogelin commented on #115
fixed in 1d3f4de78da1559a93427dc2f6ba191e86a39725

[2019-11-21 21:24] #115 closed

[2019-11-21 21:25] fernandogelin commented on #114
addressed in ba0d681ef5f86b14b295e1254816d438877558e6

[2019-11-21 21:25] #114 closed

[2019-11-21 21:25] fernandogelin commented on #67
addressed in ba0d681ef5f86b14b295e1254816d438877558e6

[2019-11-21 21:25] #67 closed

[2019-11-21 21:27] #17 closed

[2019-11-26 19:26] #60 closed

[2019-11-26 19:27] #21 closed

[2019-11-26 20:13] mcmcgrath13 opened #120 "Apps/Workshops: Separate linking of title from github"
The title should link out to the site_url (if available), the github icon should only exist if a repo_url provided (in some cases it may be private, so not part of the ready.yaml).  If there is a repo_url and no site_url, the title should link to the repo.

[2019-11-26 20:13] mcmcgrath13 opened #121 "Apps: Add License badge"
Add a badge to show the license type of an app/software - this might need to be added to the ready.yaml (or maybe scraped from the repo, but that sounds harder)

[2019-11-26 20:23] fernandogelin opened #122 "add new position"
sub team: Computational Biology Core

link: https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/3-Davol-Square/Research-Software-Engineer_REQ163610

[2019-12-02 15:00] #122 closed

[2019-12-02 15:53] TiffL commented on #120
@mcmcgrath13 If there is no repo_url and no site_url, should the app/workshop still be included, just with the title not a link?

[2019-12-02 19:28] mcmcgrath13 commented on #120
I'm tempted to say there has to be at least one URL, without that the card doesn't do much... @brown-ccv/web-admin what do you think?

[2019-12-02 20:20] mirestrepo commented on #120
hmmm - but there is always a repo because the ready.yml is inside the repo. Maybe repo_url should default to the repo being queried or be mandatory.

[2019-12-02 20:26] mcmcgrath13 commented on #120
But in some cases the repo is private, so we don't want to link to it.  We
could always check the private/public status, then default it if public?

On Mon, Dec 2, 2019 at 3:20 PM Maria Isabel Restrepo <
notifications@github.com> wrote:

[2019-12-02 20:34] mirestrepo commented on #120
hmmmm. maybe we change the icon for private githubs to a lock, but still link to it?

[2019-12-02 20:35] mcmcgrath13 commented on #120
I think that's more confusing since it goes to a 404 not found page if you
don't have access.  I vote just leave off the github icon and only link to
the site_url.

On Mon, Dec 2, 2019 at 3:34 PM Maria Isabel Restrepo <
notifications@github.com> wrote:

[2019-12-02 20:50] mirestrepo commented on #120
Sounds good to me.

[2019-12-02 20:51] mirestrepo commented on #120
And so if private, there must be project_url.

[2019-12-04 23:35] hkershaw-brown opened #128 "broken link page footer"
The "Our Work" link in the footer takes you to the top of the page rather than the "Our Work" page

[2019-12-05 00:28] paulstey commented on #107
@alee35 : As our Senior Director of Photography Operations (SDPO), can I put you in charge of getting a picture of Nate?

[2019-12-05 00:37] hkershaw-brown opened #129 "File and transfer section suggestions"
Suggestions:

1.  remove the comparison table.
There are a few errors in it, Rdata isn't restricted to Brown campus or VPN.  Rdata "security features" is blank which I think is hilarious, but it does give the wrong impression to users that there are no security features.  The limit for Rdata is incorrect.
It doesn't communicate the cost of each storage option.

2. Combine the three boxes: Campus F

[2019-12-05 00:43] hkershaw-brown opened #130 "Consulting Section suggestions"
1. Combine HPC and Visualization into Advanced Research Computing. I'm not sure whether the name "Advanced Research Computing" is dead.  Maybe just a one page on consulting.

2. Remove Discourse from this section - maybe have a "getting help" section?

[2019-12-05 00:57] hkershaw-brown opened #131 "Edit Description of Oscar"
1. Should sound cooler and have pictures.  & be more welcoming
2. Info is out of date
3. Remove anthropomorphism from the description.
4. Add link to Oscar documentation
5. Add support@ccv.brown.edu

[2019-12-05 01:12] hkershaw-brown opened #132 "Classroom section suggestions"
1. The "Workshops" in this section are for researchers rather than classroom use.  Move this into the other workshops page.

2. Combine Student Accounts & In-Class Tutorials into one page.  At the moment the info is contradictory:
     "CCV Tutorials can range from the basics of using HPC systems to the use of specific applications " vs. "CCV staff ... can’t provide direct support to students for

[2019-12-05 01:16] hkershaw-brown opened #133 "Condo purchasing info"
There doesn't seem to be anywhere that mentions people can buy hardware to get a condo on Oscar.

Detail what the process is
When purchases are made
What you can buy

[2019-12-05 01:41] hkershaw-brown opened #134 "General review of rate section"
General comments on the rates page.  I think this page needs a good proof read/rewrite, here are a few things I noticed

* The posted rates aren't available on Oscar.
* The + used for Plus accounts and the + used for footnotes look similar.
* Free exploratory accounts are available to everyone at Brown, not just faculty and PIs
* "priority accounts will have faster job start times" is kind of an i

[2019-12-05 01:56] hkershaw-brown opened #135 "events vs EVENTS suggestion"
More of a cry for help.

There are the ARC group events on the website, but there is nothing about system events. E.g. the 8 day down time for Oscar and the YURT in January.
Can there be a banner or alert on the front page?

[2019-12-05 02:04] hkershaw-brown opened #136 "terms and conditions page"
There is a terms and conditions page that you can reach by searching for it but I don't think is linked from anywhere.
Are these the correct terms and conditions?

[2019-12-05 02:05] hkershaw-brown commented on #134
The actual correct info on purging:
 "files that have not been accessed for more 30 days are purged"

[2019-12-05 02:12] fernandogelin commented on #135
@hkershaw-brown we are working on a ccv status page and a way to show major disruptions on the website.

[2019-12-05 02:40] hkershaw-brown opened #137 "Add XSEDE info"

[2019-12-05 03:09] mirestrepo commented on #135
@fernandogelin Is the status page the home for "future" disruptions? I think @hkershaw-brown would like users to be aware that that down time is happening soon.

[2019-12-05 03:16] mirestrepo commented on #134
@hkershaw-brown @mttunca who has the knowledge/language to review that section. Who wants to take the lead?

[2019-12-05 03:25] mirestrepo commented on #130
I totally agree here. I'm happy to take on combining that content and sending it out for revision

[2019-12-05 03:26] mirestrepo commented on #130
@paulstey what do yo think about Helen's suggestions?

[2019-12-05 03:29] mirestrepo commented on #129
How do we assign issues to @mttunca? Or do we assign them to @kubatarlowski?

[2019-12-05 03:49] mirestrepo commented on #130
Maybe the Cards are HPC, Data Science, Visualization, Software Engineering and Computational Biology - but if you click on details they all go to the same (ARC) Consulting summary page. How do you feel about that?

[2019-12-05 13:21] hkershaw-brown opened #138 "imposter website giving out false information"
I am led to believe that CCV is the one true place for research computing.

https://it.brown.edu/services-research  needs to be removed.

It is full of broken links that take users to the 'go home dog' page, e.g. this page: https://it.brown.edu/services/type/research-software has a broken link https://www.ccv.brown.edu/software, this page: https://it.brown.edu/services/type/research-computing-supp

[2019-12-05 13:32] hkershaw-brown opened #139 "News section"
I don't think the blogs are news.

I do believe some things have happened since October 18th 2019

Suggest a section "blog"

Have "News" for news, e.g. new hardware purchases, downtimes, new staff, published papers. The goal being to accurately represent the active, vibrant research computing center that we are.

There is a section on the front page with "New CCV rates", "Changes to Oscar explorat

[2019-12-05 14:35] mirestrepo commented on #138
I submitted a ticket-160561. Let's hope it doesn't get assigned to ccv ;)

[2019-12-05 14:52] fernandogelin commented on #136
There used to be a link for this in the old form to create an account. @hkershaw-brown Where's the best place for this? In the oscar page?
I'll assign to @mttunca to review the content.

@mttunca can you review: https://ccv.brown.edu/services/infrastructure/terms-and-conditions/

[2019-12-05 14:57] fernandogelin opened #140 "Change news to blog"
the **News** menu item should link to the yet to be created News page.
Create a new item **Blog** and link to Medium

[2019-12-05 14:58] hkershaw-brown commented on #136
There's a different sent of conditions in the Oscar docs:
https://docs.ccv.brown.edu/oscar/getting-help/ccv-user-policies

[2019-12-05 14:59] mirestrepo commented on #136
For JupyterHub, the terms and conditions are in the user-manual(Gitbook). Is than maybe where we should put it for Oscar as well? It's probably a good idea to be consistent across different compute resources. @mttunca Should we also do the same for stronghold?

[2019-12-05 15:02] fernandogelin opened #141 "Update deployment"
- [ ] `develop` branch should deploy to github pages.
- [x] create new `release` branch and deploy to `datasci.brown.edu`
- [x] `master` branch should deploy to `ccv.brown.edu`
- [x] add github actions
- [x] update npm scripts

[2019-12-05 15:27] mcmcgrath13 commented on #136
There's also the citing ccv in the about page, which seems somewhat related to terms and conditions, since if you use our infrastructure/services, it should be a term/condition to cite that?

[2019-12-05 15:32] mcmcgrath13 commented on #30
@hkershaw-brown  Where should these be listed? Is the address wrong somewhere?

[2019-12-05 15:42] mcmcgrath13 opened #142 "Add DsCOV workshop section"
Add a section for DsCOV workshops to the workshop page, link that gh org

[2019-12-05 15:44] mcmcgrath13 opened #143 "Old DSP + BI website needs to no longer exist"
https://brown.edu/cis/data-science/

All of our content now lives here, there should go away - does BI have a backup plan?

[2019-12-05 15:48] mcmcgrath13 opened #144 "Update README with procedure, labels, processes"
As we figure this out, need to make sure README has proper documentation.  Perhaps break it out into a `CONTRIBUTING.md`.  Add issue and PR templates to make process integrated with technology.

- [x] README.md
- [x] CONTRIBUTING.md
- [x] Issue template
- [x] PR template

[2019-12-05 15:54] hkershaw-brown opened #145 "markdown list on visualization page"
https://ccv.brown.edu/services/consulting/visualization/

There is something funky with the Markdown on this page.  The list is not coming out as a list.

[2019-12-05 16:53] hkershaw-brown commented on #30
I think the address is just missing.

Postal - so people can send us Christmas presents
Building - so people can find us

Maybe it should go in the footer?

[2019-12-05 18:23] paulstey commented on #130
I like the idea of combining them.

[2019-12-05 18:33] paulstey commented on #131
@hkershaw-brown : Regarding (1.), would you mind taking a crack at some cooler language? Also, do we have pictures of the machine room?

[2019-12-05 18:34] hkershaw-brown commented on #131
oh yeah I assigned my self to this issue.  I think.

[2019-12-05 18:38] mcmcgrath13 commented on #139
Is there a difference between "What's new" and "news"?  archivability?

[2019-12-05 18:52] paulstey commented on #145
Nice catch, @hkershaw-brown!!

[2019-12-05 18:54] hkershaw-brown commented on #139
I think that sounds reasonable
"what's  new" for highlights
"news" is the archive of all the amazing happenings at CCV

[2019-12-05 19:25] hkershaw-brown opened #146 "broken link"
https://ccv.brown.edu/services/infrastructure/cave/

Brown University unveils 3D virtual-reality room

[2019-12-05 23:56] paulstey commented on #137
@fernandogelin: What do you think about adding an "Additional Resources" section, or something similar in a future release?

[2019-12-11 23:47] paulstey commented on #107
@n8wood-brown and @alee35,

I just wanted to check in on this. Can we get a photo and a "hover" photo for the site?

-Paul

[2019-12-12 02:20] mirestrepo opened #151 "[FEATURE]Contact Us Section"
**Is your feature request related to a problem? Please describe.**
Ex. I'm always frustrated when [...]
We have multiple ways of being contacted. it-help, discourse, ccv-share.slack, stronghold-help, jupyterhub-help. ccv@brown.edu.

**Describe the solution you'd like**

I think @hkershaw-brown mentioned it in another issue, but it may be a good idea to have a getting-help or getting-intouch sectio

[2019-12-12 02:21] mirestrepo opened #152 "[CONTENT] jupyter hub link has changed"
**Describe why you'd like the content to be updated**
Request form for JupyterHub needs to be updated. Link has changed

**Enter the part that you want to replace**
I can do this on a PR, if assigned to me ;)

**Enter the new content**
I can do this on a PR, if assigned to me ;)

[2019-12-12 13:41] fernandogelin opened #153 "[FEATURE] Link and widget for CCV Status Page"
**Is your feature request related to a problem? Please describe.**
There's a need for a Status Page with current and past issues and scheduled maintenance of CCV services.

**Describe the solution you'd like**
Add a link to status page. Look into the possibility of adding a widget if status is disrupted.

**Describe alternatives you've considered**
A Status Page has been developed and it's ready t

[2019-12-12 14:58] fernandogelin opened #154 "[FEATURE] Move Our work: Workshops/Software out of Hugo."
**Is your feature request related to a problem? Please describe.**
Right now, to update the workshops/software pages in our work, the website needs to be rebuilt.

**Describe the solution you'd like**
It would be nice to move that section out of Hugo to some dynamic web application that leverages the GitHub API. That way the pages will be update instantaneously and there's no need to wait for a re

[2019-12-12 16:43] mcmcgrath13 opened #155 "[BUG] Don't show archived projects"
**Describe the bug**
Archived repos should not be pulled for the software and workshop pages.

**Expected behavior**
No archived repos shows as software projects, apps, or workshops

n/a

**Additional context**
brown-ccv/pubmedminer is archived, but has a ready.yaml leftover from it's prior life - this **SHOULD NOT** be on brown-ccv's website

[2019-12-12 17:44] alee35 commented on #107
@paulstey On it.

[2019-12-13 14:31] alee35 commented on #107
@fernandogelin The images of Nate are in teh ccv-portraits folder. (https://drive.google.com/drive/u/0/folders/1z1witUrzW4sbbrYjj4VW3RlNtTq-6LA9)

[2019-12-18 15:05] mcmcgrath13 commented on #144
@fernandogelin  does #157 close this?

[2019-12-18 15:14] fernandogelin commented on #144
after it gets reviewed and approved.

[2019-12-19 15:51] paulstey opened #159 "[DATA UPDATE] - Add Kuba to intern section"
**Describe why you'd like the content to be updated**
We should add Kuba (Mete's student) to the intern section

**Enter the new content**
We need a main picture and a hover pic for Kuba

**Additional context**
@mttunca and @ashleysyg: Can the two of you work to get a couple of pics of Kuba?

[2019-12-19 17:13] fernandogelin commented on #159
@paulstey I'll close this and reopen with the correct template.

[2019-12-19 17:13] #159 closed

[2019-12-19 17:18] fernandogelin opened #160 "[DATA] Add Kuba to intern section"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue.**

[code]

@ashleysyg can you work with @kubatarlowski to get his photo.

@kubatarlowski @mttunca Can you check the information above and edit the issue if neces

[2020-01-08 20:07] #144 closed

[2020-01-17 18:46] paulstey opened #163 "[FEATURE] Add CCV-Con section"
**Is your feature request related to a problem? Please describe.**
Could we please add a section for CCV-Con? And in particular, can we add the slides from CCV-Con 2019? They are in the ARC-CCV shared Google Drive. We still need Mete's day, though. I'll get those.

**Describe the solution you'd like**
Adding a section that houses slides from CCV-Con 2019

**Describe alternatives you've considered*

[2020-01-19 19:14] kmilo9999 opened #164 "[CONTENT] Update Yurt Open house year"
**Describe why you'd like the content to be updated**
The Yurt open hours message says "COMING FALL 2019". It is already 2020 and we've been hosting open hours during the fall 2019

**Enter the part that you want to replace**
The Yurt open hours message says "COMING FALL 2019"

**Enter the new content**
"Book your Visit Here"

**Additional context**
This is the link https://ccv.brown.edu/services/

[2020-01-21 17:40] hkershaw-brown commented on #138
Closing this issue since it is not under the ccv website.
Note it did get assigned to CCV: ticket 160561

[2020-01-21 17:40] #138 closed

[2020-01-21 17:47] kmilo9999 opened #165 "[FEATURE] Link to YURT group demo form in the front page"
**Is your feature request related to a problem? Please describe.**
I receive emails requesting a YURT demo. I send the link to the google form, but I think it is too hidden and any user could struggle to find it. We could just say "Go to the ccv main page and look for the link Request_YURT_demo link"

**Describe the solution you'd like**
Users can easily request a demo just by entering to the ccv

[2020-01-22 14:09] fernandogelin opened #168 "[DATA] Add Yang Liu to People"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

Need photo, github username

[2020-01-24 21:48] paulstey commented on #145
I think PR 172 should fix this.

[2020-01-24 21:50] paulstey commented on #133
@mttunca & @singhsaluja: Do we have some details on the mechanism for condo purchasing that we can put on the site?

[2020-01-24 22:06] paulstey commented on #146
Do we want the link to the actual Boston Globe article? It seems the dead link was pointing to a photo that appeared in the article.

[2020-01-24 22:25] paulstey commented on #160
@ashleysyg and @kubatarlowski: Would the two of you be able to coordinate a polaroid or something similar?

[2020-01-24 22:32] paulstey opened #174 "[BUG] The readme has a dead link"
**Describe the bug**
Our README.md has a dead link in the section at the bottom on guidelines for writing markdown.

**Expected behavior**
The link should not send the user to the puppy 404 page.

**Additional context**
Thank you; you're awesome!!

[2020-01-24 23:12] paulstey commented on #107
@ashleysyg : Thank you!!

[2020-01-27 15:26] Rashi1997 commented on #107
@fernandogelin @paulstey  I would need full name, team, subteam, title, GitHub username, bio(if possible) and weight (in which order to place) for Nate.

[2020-01-27 18:58] fernandogelin commented on #134
@hkershaw-brown There were some changes to the rates page, did they address the issues you brought up here or should we keep this issue open?

[2020-01-27 19:03] #141 closed

[2020-01-27 19:03] #145 closed

[2020-01-27 19:09] fernandogelin opened #177 "[FEATURE] Refactor Calendar"
**Is your feature request related to a problem? Please describe.**
The Google Calendar is ugly and doesn't show events that are created directly in the events@brown site

**Describe the solution you'd like**
Look into the possibility of using LiveWhale API to display events on the website.

[2020-01-27 19:19] hkershaw-brown commented on #134
@fernandogelin I would keep this issue open.  It looks like there are still many problems with this page, e.g:

 -  "Exploratory (PI Sponsored) | 32 for 48 hours per job" is incorrect right?  The limit is across all your jobs.  There is no info on how much memory you get.    There is nothing about purchasing a condo (can you still do this? I don't know).    I don't think these advertised rates act

[2020-01-27 19:20] fernandogelin commented on #134
@hkershaw-brown thank you! I'll bring this up during the triage meeting tomorrow.

[2020-01-27 19:21] hkershaw-brown commented on #134
Good luck @fernandogelin !

[2020-01-28 18:25] fernandogelin commented on #168
@singhsaluja can you coordinate with Yang to get his pictures for the website?

[2020-01-28 18:26] #142 closed

[2020-01-28 18:28] fernandogelin commented on #131
@hkershaw-brown @paulstey can you reassign this to someone? I'm not sure who the right person is.

[2020-01-28 18:43] fernandogelin commented on #107
@Rashi1997

[code]

[2020-01-28 19:19] fernandogelin opened #179 "[ISSUE] Documentation on how to add workshops/software"
Add to readme instructions on how to create and format the `ready.yml`

[2020-01-28 19:25] fernandogelin opened #180 "[CONTENT] Remove Workshop card and page from services"
**Describe why you'd like the content to be updated**
Remove the workshop card and page under services

[2020-01-28 19:31] fernandogelin commented on #154
add cron job for now, add to parking lot? give it to an intern?

[2020-01-28 19:38] fernandogelin commented on #129
link to CIS page?

[2020-01-28 19:54] fernandogelin commented on #136
@paulstey @mttunca can you look into this?

[2020-01-28 19:57] fernandogelin opened #181 "[CONTENT] Facilities Statement"
**Describe why you'd like the content to be updated**
Information is incorrect

**Enter the new content**
Create Document and have a tag last updated.

[2020-01-28 20:00] fernandogelin commented on #163
@mirestrepo suggested to have a section under workshops(?) with a card linking to GitHub repo with slides.

[2020-01-28 20:02] mcmcgrath13 commented on #163
Create a repo with a `ready.yaml` have a folder for each year and in that folder have a `README` that links to the appropriate google drive

[2020-01-28 22:51] paulstey commented on #143
@fernandogelin & @mcmcgrath13

I've got the green light from Jennifer to nuke the old site. Can we have the old site just re-direct to our new site? Do we need the Network Team to do that?

[2020-01-29 14:11] fernandogelin commented on #143
Yes, I can open a ticket with Network. Thanks, Paul!

On Tue, Jan 28, 2020 at 5:51 PM Paul Stey <notifications@github.com> wrote:

--
<http://ccv.brown.edu/> Fernando Gelin  <https://github.com/fernandogelin>
<http://directory.brown.edu/uuid/8144f0fb-0d36-47ed-ae64-ab07c232ebba>

*Senior Research Software Engineer*
Data & Visualization
Center for Computation and Visualization
Brown University  |

[2020-01-29 14:18] fernandogelin commented on #143
I'll close this: DP Ticket #167184

[2020-01-29 14:18] #143 closed

[2020-01-29 14:31] #107 closed

[2020-01-29 14:32] #168 closed

[2020-01-29 15:39] mirestrepo opened #183 "[FEATURE] Add last update date to pages"
**Is your feature request related to a problem? Please describe.**
It will be informative for people to know if content is outdated

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-01-29 18:27] paulstey opened #184 "[DATA] Add Bradford to People section"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

**If opportunities:**
[code]
*link from jobs@brown site*

[2020-01-29 18:28] paulstey commented on #184
@ashleysyg: Would you please work with Bradford to get a photo and hover photo of him? Thank you so much, Ashley!!

[2020-01-29 18:33] paulstey commented on #152
@mirestrepo : Are you still okay fixing this? Or can I take a crack at it?

[2020-01-29 19:46] mirestrepo commented on #152
My plan is now to keep the link the way it is and add script to the google form to create the ticket. I prefer the google form to the Qualtrics because we can more easily keep track and share the results.....

[2020-01-29 19:50] mirestrepo commented on #152
But we could probably update the description a bit... I know TJ had changed few sentences in here https://docs.google.com/document/d/1_1X7n94A1YBBkUMjTG0NDAiPXQStWw54BT5Cjv9JcII/edit

And I would be more than happy to pass this issue to you!

Is there any other info that you think we should include?

[2020-01-31 15:30] kubatarlowski commented on #134
Hi,

I just made a pull request for this. I also originally pushed using git push instead of npm run push, so there is a branch called content-rates that can be deleted. The correct branch is content-rates-correct.

Thanks,
Kuba

[2020-01-31 15:51] fernandogelin commented on #134
Hi Kuba,

`npm run` is just for committing, to push you just do `git push`, there's
no `npm run push`.

Fernando

On Fri, Jan 31, 2020 at 10:30 AM kubatarlowski <notifications@github.com>
wrote:

--
<http://ccv.brown.edu/> Fernando Gelin  <https://github.com/fernandogelin>
<http://directory.brown.edu/uuid/8144f0fb-0d36-47ed-ae64-ab07c232ebba>

*Senior Research Software Engineer*
Data & Visualizati

[2020-01-31 16:01] kubatarlowski commented on #134
my mistake, I meant npm run commit. I did a regular git commit -m and then pushed that branch under "content-rates"

[2020-01-31 17:14] kubatarlowski commented on #160
Hi @ashleysyg - I apologize I didn't see this previously. I'm available MWF at the following times: 8:30-12:00,1:00-3:00.

Thanks!
Kuba

[2020-01-31 21:13] fernandogelin commented on #54
fix in branch feature-gcs

[2020-01-31 21:13] #54 closed

[2020-01-31 21:13] #180 closed

[2020-02-03 14:43] mcmcgrath13 opened #188 "[BUG] HPC Position has semi-dead link"
**Describe the bug**
Senior/Research Software Engineer position's link is semi-dead

**Expected behavior**
Link should be not dead, or the posting should be removed

**Screenshots**

**Additional context**
@hkershaw-brown should this be removed? or is there a new link?

[2020-02-03 14:49] hkershaw-brown commented on #188
This post has been filled, but there is a new posting:

Research Software Engineer

https://brown.wd5.myworkdayjobs.com/en-US/staff-careers-brown/job/180-George-Street/Research-Software-Engineer_REQ164152

[2020-02-03 15:05] mcmcgrath13 commented on #188
Just started a PR to remove the old posting.  It looks like the new one is already there.

[2020-02-05 14:46] #184 closed

[2020-02-05 14:56] #188 closed

[2020-02-07 21:29] paulstey opened #194 "[BUG] Update Linnea's title"
**Describe the bug**
Linnea's title should be updated to the following: _Assistant Chief Information Officer, Infrastructure and Research Computing_

[2020-02-12 01:40] paulstey opened #197 "[DATA] Add Kirk Brown to people section"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

[2020-02-12 17:46] paulstey opened #200 "[CONTENT] Facilities Statement in its own Sub-section"
**Describe why you'd like the content to be updated**
I think the Facilities Statement should be its own stand-alone subsection on our _About_ page. Right now, it's a bit tucked away under _How to Cite CCV_. I think a new subsection that is strictly the Facilities Statement would help this be more obvious to users.

**Enter the part that you want to replace**
Facilities Statement on the _About_ pa

[2020-02-17 14:18] #194 closed

[2020-02-17 14:37] #174 closed

[2020-02-17 14:37] #164 closed

[2020-02-17 14:38] fernandogelin commented on #160
@ashleysyg @kubatarlowski were you able to coordinate to take a picture?

[2020-02-17 14:40] fernandogelin commented on #152
@mirestrepo were you able to create the Google Script? What's the status of this issue?

[2020-02-17 14:41] #146 closed

[2020-02-17 14:42] fernandogelin commented on #136
@paulstey @mttunca any update on this?

[2020-02-17 14:52] #128 closed

[2020-02-17 15:00] #30 closed

[2020-02-17 15:01] fernandogelin commented on #120
closing this as workshops/software are moving out of hugo

[2020-02-17 15:01] #120 closed

[2020-02-17 15:01] fernandogelin commented on #121
closing this as workshops/software are moving out of hugo

[2020-02-17 15:01] #121 closed

[2020-02-17 15:02] fernandogelin commented on #9
closing this as publications is it's own app. all issues related to it should go to the ccv pubs repo.

[2020-02-17 15:02] #9 closed

[2020-02-17 15:02] fernandogelin commented on #155
closing this as workshops/software are moving out of hugo

[2020-02-17 15:02] #155 closed

[2020-02-17 15:04] fernandogelin commented on #163
completed

[2020-02-17 15:04] #163 closed

[2020-02-17 15:09] #179 closed

[2020-02-20 16:09] ljwolfe1 commented on #200
This was recommended by Thomas Serre. Is this difficult to implement? If not, can we move forward with this?

[2020-02-20 16:38] fernandogelin commented on #200
@ljwolfe1 We are working on solving all issues, including this one.

[2020-03-03 00:50] paulstey commented on #133
@mttunca : I just wanted to check back on this. Do we have some boilerplate that we can put on the site so that folks understand the condo purchase model and process?

[2020-03-06 17:21] paulstey commented on #200
PR 207 will fix this when merged to production.

[2020-03-06 19:05] paulstey commented on #197
@ashleysyg: Would you mind coordinating with Kirk to get a picture?

[2020-03-06 22:31] mttunca commented on #133
Hi @paulstey - thanks, I am well. I'm not sure I know what our process is. I'll ask Linnea and Sam and see what they say.

Best,
Mete

[2020-03-17 14:13] paulstey commented on #200
We can close this, since PR 207 has been merged.

[2020-03-17 14:13] #200 closed

[2020-03-20 14:23] kmilo9999 opened #213 "[CONTENT] Disable buttons on the YURT Web Page and add message"
**Describe why you'd like the content to be updated**
Due to the state of emergency in the country, YURT demos wont be authorized until further notice. This has to be explained in the ccv YURT web page

**Enter the part that you want to replace**
On the CCV YURT web page, disable the buttons:
"Book your visit here"  and " Request a Group Demo"

**Enter the new content**
Add a message on top of the

[2020-03-28 14:53] paulstey opened #220 "[BUG] Search is showing ads"
**Describe the bug**
I'm not sure if this has already been reported, but it seems our Google custom search is showing ads. Can this be turned off?

If we can't turn off that functionality, I really think we ought to consider alternatives.

As always, thank you!!

[2020-03-28 15:09] paulstey commented on #213
Are we all set with this, @fernandogelin and @kmilo9999? I think PR 218 resolved this, no?

[2020-03-29 12:01] fernandogelin commented on #220
@paulstey It looks like we can turn that off but need to do the following: If your organization is already are registered with Google for Education, have your organization add the email address that is the owner of the Custom Search Engine or a verified administrator of the Custom Search Engine as a Super Admin of the domain.

Do you know who controls the Google for Education account? Can you ask

[2020-03-29 12:03] #213 closed

[2020-03-29 16:17] fernandogelin commented on #136
@paulstey @mttunca any update on this?

[2020-03-30 13:00] fernandogelin commented on #129
@mttunca @singhsaluja Would you mind addressing this issue? Thanks.

[2020-03-30 13:05] fernandogelin commented on #130
@mirestrepo @paulstey I'll address this issue, and send you a PR for review.

[2020-03-30 14:35] fernandogelin commented on #152
hi @mirestrepo what's the status of this. Do you want me to take care of this? If so, what needs to be done?

[2020-03-30 14:36] fernandogelin commented on #134
@mttunca @singhsaluja were these issues addressed in the latest changes to the rate section? Can this be closed?

[2020-03-30 14:37] fernandogelin commented on #181
@mttunca @singhsaluja has this been addressed? Can this issue be closed?

[2020-03-30 14:38] fernandogelin commented on #137
@hkershaw-brown Do you have the XSEDE info? If you give me what you have I can work on adding to the website.

[2020-03-30 14:39] fernandogelin commented on #136
@paulstey @mttunca any update on this?

[2020-03-30 14:40] fernandogelin commented on #131
@hkershaw-brown @paulstey has there been any progress on this? If you give me the new text I can update the website.
Thanks

[2020-03-30 14:42] hkershaw-brown commented on #131
hi @fernandogelin  I don't have the details about Oscar.

[2020-03-30 14:42] #131 closed

[2020-03-30 14:55] hkershaw-brown commented on #137
Here you go:

[XSEDE](https://www.xsede.org/) is an NSF-funded, nationwide collection of supercomputing systems that are available to researchers through merit-based allocations.  The resources are free, but the application process is competitive.  CCV participates in the Campus Champions program and has a small pool of compute time available for Brown researchers to try out XSEDE resources.   Thi

[2020-03-30 14:55] hkershaw-brown commented on #137
@fernandogelin see above comment for XSEDE info

[2020-03-30 15:00] mirestrepo commented on #152
And the description needs to be changed to:

[code]

I also see that the buttons are not showing up anymore for requesting the service

[2020-03-30 15:07] fernandogelin commented on #152
@mirestrepo the form is still that Google Doc? And it should send a ticket to jupyterhub-help@brown.edu on submit?

[2020-03-30 15:07] fernandogelin commented on #137
Thank you @hkershaw-brown !!!

[2020-03-30 15:11] mirestrepo commented on #152
@fernandogelin - Correct! The form is [here](https://docs.google.com/forms/d/1B7nSLcupLWGWLWvIoQjeygJpPVd4w9KonGN3vclHQdM/edit)

[2020-03-30 22:26] paulstey commented on #181
I think with PR `#224` in, we can now close this.

[2020-03-30 22:26] #181 closed

[2020-03-30 22:28] paulstey commented on #152
Are we okay to close this one now? I think it's been resolved.

@mirestrepo: Can you please take a look?

[2020-03-31 10:54] ljwolfe1 commented on #220
I will look into this. That area falls under Don Rogers/Chris Grossi's area.

[2020-03-31 11:07] ljwolfe1 commented on #197
Is there a process to get new employees on the website?

[2020-03-31 11:12] ljwolfe1 commented on #177
Who needs to comment on details of this request?

[2020-03-31 11:14] ljwolfe1 commented on #165
Can this be closed?

[2020-03-31 11:16] ljwolfe1 commented on #160
Can Kuba send a picture that can be used for this? If not, can he be added without a picture?

[2020-03-31 11:23] ljwolfe1 commented on #153
This looks fine to me with a few comments:
-  Isilon should be files.brown.edu.
- Do we want to break out Oscar from Rdata (GPFS)?
- I don't think we need to keep YURT on the list anymore.

[2020-03-31 11:34] ljwolfe1 commented on #133
I'll get info put together. Where on the CCV website would this go?

[2020-03-31 11:41] paulstey commented on #165
@ljwolfe1: Yes, agreed. I'll close it for now.

[2020-03-31 11:41] #165 closed

[2020-03-31 11:46] ljwolfe1 commented on #136
All T&Cs should be removed from the site per OVPR. They are already covered under IT policies that are currently published at: https://it.brown.edu/computing-policies. This is for reference only and should not be referenced from the CCV site. There is an effort underway to publish all Brown policies in one place and that will be the final resting place for these IT policies as well. https://ccv.br

[2020-03-31 11:48] paulstey commented on #153
@ljwolfe1: Thanks for your notes, Linnea!

1. Agreed, I like `files.brown.edu` rather than Isilon

2. I would personally leave these under `oscar`. I'm not an expert, but I think if there are problems with one (i.e., Oscar or GPFS), then it is exceedingly likely that both are impacted.

3. Agreed; I would vote we remove that for now.

[2020-03-31 11:51] paulstey commented on #133
Thanks, @ljwolfe1! And regarding the location, I think on the `Rates` page would make sense. For example, there might be an argument for having it in its own sub-section under `Research Data`.

[2020-03-31 12:43] paulstey commented on #160
@ljwolfe1: I think adding Kuba without a picture is fine. But if he does have a head shot (and funny picture) that he's willing to use, that's even better!

[2020-03-31 12:48] fernandogelin commented on #153
@ljwolfe1 thank you for looking into this and for your feedback. I'll work on implementing those changes and hopefully we can start using it.

[2020-03-31 12:48] paulstey commented on #197
@ljwolfe1: We usually have Ashley take a picture, since she has the best camera. Apart from that, we just assemble the information above (i.e., title, UUID, GitHub username, _etc_.).

For a number of reasons, if there _is_ a bottleneck, it's the photo. I think most people don't like getting their picture taken; and the onus generally falls on them.

[2020-03-31 12:52] fernandogelin commented on #177
@ljwolfe1 That's on my plate, I need to look into the possibility of using the LiveWhale API to get the data from events@brown. I'm not sure who's in charge of LiveWhale.

[2020-03-31 12:54] fernandogelin commented on #136
@ljwolfe1 perfect! thank you for your input. I'll remove that ASAP.

[2020-03-31 12:56] fernandogelin commented on #160
@paulstey @ljwolfe1 I'll send Kuba and Kirk a slack message to get a headshot and add them to the website.

[2020-03-31 13:03] fernandogelin commented on #133
thank you @ljwolfe1 !

[2020-03-31 14:23] #136 closed

[2020-03-31 14:23] #160 closed

[2020-03-31 14:23] #197 closed

[2020-03-31 14:53] paulstey commented on #133
We might also add a few words that say, for example, what _is_ a condo. What do folks think? Is that redundant with anything else? I think it's a pretty jargon-y term that veteran HPC folks know well, but might be foreign to a newer user.

[2020-03-31 15:03] ljwolfe1 commented on #133
I think I will created a service that we can add to https://ccv.brown.edu/services/#computing. We can just point to that from the Rates page. Let me know if that's not reasonable. I will float the verbiage once I have something drafted.

[2020-03-31 19:31] mirestrepo commented on #152
The button is fixed... @fernandogelin just checking... is the form generating tickets? Are you helping me with that? or am I supposed to do that....?

[2020-03-31 21:16] fernandogelin commented on #152
@mirestrepo I'm planning on doing it, but haven't had time yet.

[2020-04-03 17:08] paulstey opened #230 "[FEATURE] Add Covid-19 banner and updates section"
Could we please create a small covid banner under the nav bar that links to a series of news and updates? The news and updates could also be linked from the front page in the _What's New_ section below the _Quick Links_.

I was thinking the covid banner could be something like `Covid-19 Resources & Updates`.

And ideally, the linked section in _What's New_ could enable us to post updates in a logi

[2020-04-06 14:47] #152 closed

[2020-04-06 18:21] ljwolfe1 commented on #133
How's this for an initial draft?

CCV provides a mechanism for investigators to purchase equipment and add it as a "condo" (condominium). The purchased hardware is not reserved for the exclusive use of the purchaser; rather, it is placed in a general pool of nodes, and the purchaser is given high priority access to 1.25 times the number of purchased cores.

The high priority guarantees that the pu

[2020-04-06 19:02] paulstey opened #231 "[DATA] - Pull down open positions"
**What would you like to update**
- [ ] people
- [x] opportunities

We need to take down the old postings that have either been filled, or those that are being put on hold. It might also be good to include an informational message (e.g., "_Check back with us..._")

[2020-04-07 12:29] #231 closed

[2020-04-07 13:43] #230 closed

[2020-04-07 15:40] mttunca commented on #133
Linnea - I think is this very good. I wonder if there would be any
confusion around the term "subscription based use." Perhaps these minor
changes in blue to the first and second paragraph:

CCV provides a mechanism for investigators to purchase equipment and add it
as a "condo" (condominium). The purchased hardware is not reserved for the
exclusive use of the purchaser; rather, it is placed in a

[2020-04-07 18:42] ljwolfe1 commented on #133
I don't see blue text. The change to the second paragraph seems fine. I didn't catch the change to the first paragraph.

[2020-04-07 18:45] mttunca commented on #133
Linnea - resending with your email cc'd so you see the blue.

CCV provides a mechanism for investigators to purchase equipment and add it
as a "condo" (condominium). The purchased hardware is not reserved for the
exclusive use of the purchaser; rather, it is placed in a general pool of
nodes (as part of the Oscar cluster), and the purchaser is given high
priority access to 1.25 times the number of

[2020-04-08 14:01] #220 closed

[2020-04-08 19:25] mirestrepo opened #236 "[CONTENT] Typos in Cave and YURT descriptions"
**Describe why you'd like the content to be updated**
Typos in YURT and CAVE description

**Enter the part that you want to replace**
Reported by Thomas, need to check

[2020-04-08 19:40] paulstey commented on #236
There seems to be an unnecessary `"images"` in the Cave page. And the Yurt pages seems to be missing the word `"longer"` at the bottom. I'll fix this.

[2020-04-08 20:05] paulstey commented on #236
This issue is fixed by PR `238`.

[2020-04-09 14:01] mttunca commented on #134
@fernandogelin - we think this can be closed. Closing.

[2020-04-09 14:01] ljwolfe1 opened #239 "COVID-19 HPC Resources"
**Describe why you'd like the content to be updated**
Append the description of the HPC resources paragraph with eligibility requirements.

**Enter the part that you want to replace**
Either write here the piece of content to be replaced or enter the line numbers.

**Enter the new content**
Any Brown faculty member whose salary is paid by Brown or whose research is administered through Brown is el

[2020-04-09 14:03] ljwolfe1 opened #240 "COVID-19 Index does not work"
**Describe the bug**
When you click on one of the entries in the COVID-19 index you do not move to the section of the page with that information.

**Expected behavior**
Clicking on one of those entries will position the user to that point in the page.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2020-04-09 14:08] ljwolfe1 commented on #240
![COVID Index](https://user-images.githubusercontent.com/48321145/78904047-00ee3080-7a4a-11ea-9b6c-11fb2f9e2d9c.GIF)

[2020-04-09 14:08] ljwolfe1 commented on #240
Those entries do not position the user to the right place on the page.

[2020-04-09 14:11] paulstey commented on #239
I'll take this one! Thanks, @ljwolfe1!!

[2020-04-09 14:25] hkershaw-brown commented on #134
This still doesn't seem correct.  Is there a Max Wall time for jobs of 96 hours?  This doesn't match the footnote, e.g. a 104-core job to run for 160 hours.

[2020-04-09 14:27] hkershaw-brown commented on #134
Is there a document somewhere which details what the account limits are supposed to be and what the slurm associations are. The website doesn't match what is on Oscar so it really confusing for users.

[2020-04-09 16:53] #239 closed

[2020-04-09 16:53] #240 closed

[2020-04-09 20:36] paulstey commented on #236
As `#238` has now been merged, I'm going to close this issue.

[2020-04-09 20:45] #236 closed

[2020-04-11 02:45] paulstey commented on #240
Thanks for the quick fix, @mcmcgrath13 and @fernandogelin!!!

[2020-04-13 14:28] tserre opened #242 "[CONTENT] Oscar specs and facility stateme"
Hi,
PIs need better facilities statement for oscar.

1) the current facility statement is impossible to find. if you search for "facility statement" on the CCV website it does not show up. https://ccv.brown.edu/facilities/#facilities-statement

2) the statement is too vague. Many times people need the specifics of the hardware. Specifically what are the specs of the GPU nodes, how much memory, etc

[2020-04-13 15:01] fernandogelin commented on #242
The search is powered by Google. If you search for `facilities`, or `facilities statement` you get results. I guess it doesn't search for similar words.
The facilities menu is on the main navigation.

[2020-04-13 18:54] tserre commented on #242
Thanks for the info but I have gotten multiple emails from colleagues asking me for the info and to be honest I could not find it myself and I had to email Linnea. IMHO it should be easy to find it from multiple locations (facilities is not the first thing that would come to mind even for a facility or equipment section of a grant) and it should be easily searchable (using singular or plural).

--

[2020-04-13 19:02] fernandogelin commented on #242
@tserre I completely agree that "Facilities" is not the first thing that comes to mind. And I think that's the main issue here. When I read "Facilities" I would expect to see a list of facilities or something similar. And that's not what that section is. So people looking for something to put on a grant could easily ignore that link. I think that whole section needs to be overhauled with better gu

[2020-04-13 19:58] tserre commented on #242
👍

--T
--------------------------------------------------------------------------------------------
Thomas Serre | Brown University | Carney Institute for Brain Science
Associate Professor, Cognitive Linguistic & Psych. Sciences
Director, Center for Computation & Visualization

Associate Director, Center for Computational Brain Science
ANR-3IA Artificial and Natural Intelligence Toulouse Institute

[2020-04-14 21:25] tserre opened #243 "[CONTENT] Link missing on the discourse page"
https://ccv.brown.edu/services/consulting/discourse/
says 'Click below to join the discussion.' but there is no link

[2020-04-15 11:15] #243 closed

[2020-04-29 18:12] #130 closed

[2020-04-29 18:12] #137 closed

[2020-04-29 18:12] #151 closed

[2020-04-29 18:14] fernandogelin opened #248 "[CONTENT] ARC page is repetitive"
**Describe why you'd like the content to be updated**
Make the ARC page concise less repetitive.

[2020-05-05 13:41] fernandogelin commented on #177
complete

[2020-05-05 13:41] #177 closed

[2020-05-06 20:14] kubatarlowski opened #252 "[CONTENT] Replace link/wording in security-compliant-computing.md"
**Describe why you'd like the content to be updated**
A clear and concise description of what you want to happen.

Replace the current wording and link under "To Request this Service" with link to form in content/english/services/infrastructure/security-compliant-computing.md

**Enter the part that you want to replace**
Either write here the piece of content to be replaced or enter the line number

[2020-05-06 21:28] hkershaw-brown opened #253 "[BUG] google form opens in the calendar"
**Describe the bug**
Clicking on the google form link in the calendar opens the google form in the calendar frame, which you then cannot scroll down to submit the form.
There seems to be no way to go back to the calendar.

Side note: the 'More info' appears to have a strikethrough ~~More info~~

**Expected behavior**
I don't think the google form should open up in the calendar.  I think clicking o

[2020-05-06 21:46] fernandogelin commented on #253
@hkershaw-brown good catch! A quick fix is to add `target="_blank"` to the `<a>` tag in the event description. I did that for `getting started on oscar` and `using matlab`.
I'll look into add some js that does that for all links in the iframe.

[2020-05-06 21:49] fernandogelin commented on #253
also, @hkershaw-brown which browser are you seeing the strikethrough?

[2020-05-06 22:14] hkershaw-brown commented on #253
Chrome, but I realized it is because of the zooming out I did to show the
screen shot.

Helen Kershaw
Lead Research Software Engineer
Center for Computation and Visualization
Brown University
XSEDE Campus Champion
http://www.ccv.brown.edu

On Wed, May 6, 2020 at 5:49 PM Fernando Gelin <notifications@github.com>
wrote:

[2020-05-06 22:37] fernandogelin commented on #253
I added a fix to the calendar that will add `target=_blank` to `<a>` in the description that are missing a target.

[2020-05-06 22:37] #253 closed

[2020-05-12 00:41] hkershaw-brown opened #254 "[BUG] banner on documentation pages has broken link"
**Describe the bug**
Broken link on documentation banner

for https://docs.ccv.brown.edu/.....  banner
News points to https://ccv.brown.edu/news/ which gives a 404

*Expected behavior**

link takes you to the News section

[2020-05-12 14:06] hkershaw-brown opened #256 "[BUG] XSEDE description has the Oscar section text"
**Describe the bug**
XSEDE section in https://ccv.brown.edu/services/#computing has the same description as Oscar

The XSEDE banner text is also the same as the Oscar page
https://ccv.brown.edu/services/infrastructure/xsede/

**Expected behavior**
XSEDE section should have XSEDE text

**Screenshots**
Attached screens shots for the two locations
<img width="1053" alt="Screen Shot 2020-05-12 at 10 0

[2020-05-12 14:39] #256 closed

[2020-05-13 13:53] #252 closed

[2020-05-18 13:35] paulstey opened #262 "[BUG] Markdown is broken on storage comparison table"
The markdown on the table of storage comparison is broken. I'll fix it.

![Screen Shot 2020-05-18 at 9 16 40 AM](https://user-images.githubusercontent.com/6303310/82219108-d6b24d00-98ea-11ea-8e5c-c62ef43a2d22.png)

[2020-05-18 14:33] paulstey commented on #262
This is resolved by #264.

[2020-05-18 14:33] #262 closed

[2020-05-18 19:04] paulstey opened #265 "[DATA] Add Rohit to People section"
**What would you like to update**
- [x] people
- [ ] opportunities

I'll take care of this!

[2020-05-19 01:47] paulstey commented on #265
This is resolved by #267.

[2020-05-19 01:47] #265 closed

[2020-05-20 20:45] hkershaw-brown commented on #254
fixed now, resolving.

[2020-05-20 20:45] #254 closed

[2020-06-01 18:08] paulstey opened #274 "[DATA] Add Matt Slivinski to People section"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

**If opportunities:**
[code]
*link from jobs@brown site*

[2020-06-01 18:08] paulstey commented on #274
I'll take this one.

[2020-06-04 10:23] ljwolfe1 opened #279 "[CONTENT] Remove references to the YURT"
**Describe why you'd like the content to be updated**
Remove any references to the YURT on the CCV site

**Enter the part that you want to replace**
https://ccv.brown.edu/services/infrastructure/yurt/

**Enter the new content**
Remove

**Additional context**
I did not exhaustively go through the site, but other references to the YURT should also be removed.

[2020-06-04 12:26] paulstey commented on #279
I'll take this one!

[2020-06-05 14:16] #274 closed

[2020-06-24 16:22] paulstey commented on #279
I think this was resolved by `#280`. Closing for now.

[2020-06-24 16:22] #279 closed

[2020-06-24 19:27] paulstey commented on #133
I'll take this.

[2020-06-25 00:52] ljwolfe1 commented on #133
I don’t think the second paragraph is worded quite right.
On Wed, Jun 24, 2020 at 3:28 PM Paul Stey <notifications@github.com> wrote:

--
-----------------------------------------
Linnea J. Wolfe
Assistant CIO, Infrastructure and Research Computing
Computing and Information Services
Brown University
Box 1885
Providence, RI 02912
401-863-7377

[2020-06-25 12:22] mirestrepo opened #294 "[CONTENT] Link JupyterHub service description to KB"
**Describe why you'd like the content to be updated**
User RSS feed from desk pro

**Enter the part that you want to replace**
Replace this page: https://ccv.brown.edu/services/consulting/jupyterhub/

[2020-06-29 13:59] #133 closed

[2020-07-09 15:04] mcmcgrath13 opened #300 "Rates say they're for FY2020, it's now FY2021"
**Describe the bug**
Rates say they're for FY2020, it's now FY2021 on the https://ccv.brown.edu/services/rates/ page

**Expected behavior**
Either the rates need to be changed or the date needs to be changed or both

[2020-07-15 00:10] paulstey opened #301 "[FEATURE] Add banner linking to status page"
It would be good if we had a banner on the front page that links to the status page. We can use this banner when there are service disruptions to direct users to the status page and the updates that appear there.

[2020-07-15 00:11] paulstey commented on #301
I'll work on this!

[2020-07-15 11:31] fernandogelin commented on #301
@paulstey do you really want to work on this? I'm thinking we need to create a route in the ember app with the banner and add to the hugo site as an iframe.

[2020-07-15 14:58] paulstey commented on #301
Thanks, @fernandogelin!! I did not realize that.

[2020-07-21 18:03] mirestrepo commented on #294
Completed in #289

[2020-07-21 18:03] #294 closed

[2020-07-21 18:07] mirestrepo opened #304 "[FEATURE] Move submit ticket, contact us to quick links"
**Is your feature request related to a problem? Please describe.**
Not a problem, but I think it would be cleaner and more responsive to have the links to submit a ticket, join the discussion in the quick links instead of in the floating window. Sometimes (may be just me) the window takes a little while to show up

**Describe the solution you'd like**
Add those links to the quick links section. Cr

[2020-08-04 21:02] #301 closed

[2020-08-05 21:56] paulstey opened #305 "[FEATURE] CCV Alumni Section"
What would you all think about having an `Alumni` section on our website for our team members that have moved on? This could be our interns as well as folks from our regular team.

What do you all think?

[2020-08-06 13:19] #300 closed

[2020-08-06 14:36] fernandogelin commented on #305
sounds good, but should be introduced with website 2.0.

[2020-08-06 14:37] mcmcgrath13 commented on #305
Agreed.  We should also ask people as part of off-boarding (or retroactively) if they'd like to be in it

[2020-08-17 17:30] paulstey commented on #153
Are we okay to close this issue?

I think @fernandogelin has completed all this work.

[2020-09-11 15:52] paulstey opened #319 "[BUG] Three (non-identical) specs for Oscar"
Hi All,

We should probably have a conversation about how (and where) the specs of Oscar are enumerated. As of now, we are violating a fundamental coding principle (i.e., _don't-repeat-yourself_) by having the specs in three places. Needless to say, the specs aren't all in agreement.

1.  https://ccv.brown.edu/facilities/
2.  https://ccv.brown.edu/services/infrastructure/oscar/
3.  https://docs.cc

[2020-09-23 16:26] mirestrepo commented on #319
GPU nodes 1210-1212 appear both in the GPU and GPU partition. I think a manual list like this is pretty hard to maintain. So +1 for automating

[2020-09-24 16:22] mttunca opened #323 "[FEATURE] - Advertise Oscar software modules on CCV website"
There are 647 software modules built and available for use on /gpfs/runtime/modulefiles.

Can we capture the names from that directory, then feed it to our website? Perhaps do this nightly at midnight to keep the list accurate?

An added bonus is if we can make it searchable, so users can see if the module they want is offered on oscar.

[2020-09-24 17:07] paulstey commented on #323
I love this idea, @mttunca!! We should include all the version information, too.

We can query the PyModules DB to get all the info.

[2020-09-24 19:37] mttunca commented on #323
Sounds good to me, thanks @paulstey!

Best,
Mete

[2020-10-30 00:41] paulstey opened #333 "[FEATURE] - Option to subscribe to updates for CCV Status page?"
What is our level of interest—if any—in allowing users to "subscribe" (in some fashion) to updates when there is an on-going services disruption? Would this be something we could incorporate in the future as a new feature to the CCV Status page? What do folks think about this?

[2020-11-24 16:46] paulstey commented on #333
How do you all fell about this? Yay? Nay?

[2020-12-10 15:23] yangliu2009 opened #338 "[CONTENT] Adding Terms of Services"
**Describe why you'd like the content to be updated**
A clear and concise description of what you want to happen.

**Enter the part that you want to replace**
Either write here the piece of content to be replaced or enter the line numbers.

**Enter the new content**
Enter here the new content you would like to add.

**Additional context**
Add any other context or screenshots about the feature requ

[2020-12-10 15:25] yangliu2009 commented on #338
Add Terms of Service below to https://ccv.brown.edu/about/ (DP 219055)
Terms of Service
Access and User Accounts-User accounts are controlled via central authentication and directories on HPC are only deleted on the request of the user, PI, or departmental chair.

Documentation - Users should read and be familiar with documentation at: https://docs.ccv.brown.edu/oscar/ including GettingStarted, Ma

[2020-12-10 15:26] mcmcgrath13 commented on #338
This seems very OSCAR specific, I don't think it should live in ccv's about page.  Is there a better place for it?

[2020-12-10 15:27] yangliu2009 opened #339 "[CONTENT]"
**Describe why you'd like the content to be updated**
A clear and concise description of what you want to happen.
Add Terms of Service to https://ccv.brown.edu/about/ (DP 219055)

**Enter the part that you want to replace**
Either write here the piece of content to be replaced or enter the line numbers.

**Enter the new content**
Enter here the new content you would like to add.
Terms of Service
A

[2020-12-10 15:27] paulstey commented on #338
I'm inclined to agree with @mcmcgrath13. Does anyone object to adding this to the Oscar `details` section?

`https://ccv.brown.edu/services/infrastructure/oscar/`

[2020-12-10 15:28] yangliu2009 commented on #339
Since discussions have started at issue #338 . Close this one.

[2020-12-10 15:28] #339 closed

[2021-01-04 12:31] paulstey opened #342 "[DATA] Add Jordan to About page"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

**If opportunities:**
[code]
*link from jobs@brown site*

[2021-01-04 12:32] paulstey commented on #342
I'll take this one!

[2021-01-05 14:56] #338 closed

[2021-01-08 16:29] paulstey commented on #342
Done!

[2021-01-08 16:29] #342 closed

[2021-01-25 20:28] paulstey opened #352 "isa is awesome!"
I'm testing the deskpro to github integration. It seems to work. And @mirestrepo is awesome!!

[2021-01-25 20:28] paulstey commented on #352
Linked to ticket [#127636](https://ithelp.cis-qas.brown.edu/agent/#t:127636).

[2021-01-25 20:31] paulstey commented on #352
🚀

[2021-02-23 19:01] aguang opened #368 "[DATA] Add Fernando Cisneros to People"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

I don't really know the rest of the information but Slack me if you need it!

**If opportunities:**
[code]
*link from jobs@brown site*

[2021-02-24 02:28] paulstey commented on #368
All set! Thanks, @aguang  and @mcmcgrath13!!!

[2021-02-24 02:28] #368 closed

[2021-02-26 01:00] paulstey opened #374 "[BUG] Calendar doesn't render ampersand"
The CCV calendar on the landing page does not seem to correctly render ampersands. Instead, it shows `&amp;`. See the attached screenshot.

![Screen Shot 2021-02-25 at 7 58 04 PM](https://user-images.githubusercontent.com/6303310/109239691-0a88a000-77a4-11eb-9e62-c03881152da8.png)

[2021-05-17 13:29] paulstey opened #389 "[DATA] - Add Ellen to About page"
**What would you like to update**
- [x] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

**If opportunities:**
[code]
*link from jobs@brown site*

[2021-06-15 12:30] paulstey commented on #389
This is done!

[2021-06-15 12:30] #389 closed

[2021-08-15 14:16] paulstey opened #401 "[DATA] Add Prasad to our `People` page"
**What would you like to update**
- [ ] people
- [ ] opportunities

**If people, complete the object below. If adding new people, either add the images to this issue or send a slack message in `gh-ccv-website` after submitting this issue. **

[code]

**If opportunities:**
[code]
*link from jobs@brown site*

[2021-08-15 14:17] paulstey commented on #401
Hi @mttunca! Can you please have Prasad send me a headshot and a goofy picture for our `People` section?

[2021-10-04 15:22] RobertGemmaJr opened #407 "[DATA] | Add Robert Gemma to people"
**What would you like to update**
- [ ] people

I would prefer to have the `Gemma_Funny` photo be my secondary photo but I totally understand if you don't want that many URI logos in my pictures. If so, the `Gemma_Funny_2` photo works great too! 😄

[code]
![Gemma_Main](https://user-images.githubusercontent.com/38439940/135878174-4286ca09-9dbc-4b5b-99ed-89d48fe0f56c.jpg)
![Gemma_Funny](https://user